body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont,'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: black;
  background-image: url("./Images/nebula.jpg");
  background-size: 200ch;
  background-repeat: no-repeat;
  background-position-x: -100px;
  background-position-y: -50px;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
